#git should ignore the below files
*~
*.swp
*.swo
.nfs*
make4061
test2
a.out
testStruct
words
bookTest
*.zip
mock_app_example/
*.pdf
server
shell
test
B
application
*.tar
/testing
web_server
main.o
server.o
shell.o
/project2/util.o

